body {
  background-image: url('../pictures/Background1.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section {
  background: rgba(197, 195, 195, 0.6);
  padding: 50px;
  border-radius: 10px 0px 10px 10px;
  margin-top: 50px;
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.regneart {
  font-size: 40px;
  font-weight: 500;
  margin-top: -15px;
  margin-bottom: 30px;
}

.regnestykke {
  font-size: 25px;
  font-weight: 500;
}

.answer-line {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.added-score {
  font-size: 17px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.input {
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  background-color:  rgba(255, 255, 255, 0.6);
  border: solid 2px rgb(84, 84, 84);
  border-radius: 3px;
}

.sjekk-svar {
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgba(76, 195, 80, 0.9);
  color: white;
  cursor: pointer;
  border: rgb(32, 97, 2) solid 2px;
  border-radius: 3px;
}

.refresh {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #7c7c7c;
  color: white;
  cursor: pointer;
  display: none;
  border: rgb(73, 73, 73) solid 2px;
  border-radius: 3px;
}

article {
  display: flex;
}

colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-title {
  font-size: 29px;
  font-weight: 500;
  margin-top: 50px;
}

.score {
  margin-top: 16px;
  margin-bottom: 16px;
}

.highscore, .score {
  font-weight: 500;
}

.resetHighscore{
  padding: 3px 5px;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

.level-title{
  font-size: 29px;
  font-weight: 500;
  margin-top: 50px;
}

.level-container{
  display: flex;
  align-items: center;
}

.level {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}

.levelDown, .levelUp{
  border: solid black;
  padding: 3px 3.8px 2.1px 3.8px;
  border-radius: 15.75px;
}

.levelIcon{
  margin-top: 7px;
}

.difficulity {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 500;
}

.resetDifficulity {
  padding: 3px 5px;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}


.divider {
  width: 2px;
  height: 190px;
  background-color: rgb(0, 0, 0);
  margin:60px 70px -30px 70px;
}

.horizontal-divider {
  height: 2px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  margin: 10px -10px 15px -10px;
}

.level-container {
  display: flex;
  flex-direction: row;
}


.container {
  display: flex;
  flex-direction: row;
  justify-self: start;
}